.lw { font-size: 120px; }
body{
    background:pink
}

.border { padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: #97bae8;
    background: white;
    border: solid 2px #6091d3;
    border-radius: 10px;
}
.p {padding: 10px;
    margin: 10px;
    font-weight: bold;
    color: #000000;
    background: white;
    border: solid 2px #000000;
    border-radius: 10px;
}

